@import "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/resources/dojo.css";
@import "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/tundra/tundra.css";
@import "slide.css";

html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

#controls, #toc {
    padding: 2em;
}

#controls {
    background-color: #CCC;
    box-shadow: 0px 2px 2px #444;
    z-index: 20;

    background-image: -webkit-linear-gradient(top, #DDD, #BBB);
    background-image:    -moz-linear-gradient(top, #DDD, #BBB);
    background-image:     -ms-linear-gradient(top, #DDD, #BBB);
    background-image:      -o-linear-gradient(top, #DDD, #BBB);
    background-image:         linear-gradient(top, #DDD, #BBB); /* standard, but currently unimplemented */
}


#main {
}

#edit {
    min-width: 800px;
    max-width: 800px;
    margin: 45px auto;
}

#edit textarea {
    min-height: 10em;
    max-height: 10em;
    width: 760px;
    padding: 19px;
    border: 1px dashed #AAA;
    font-size: 200%;
}

#preview, #slideshow {
    margin: 0 auto;
}

#slideshow {
    width: 100%;
    height: 100%;
}

/* thumbnails */
#toc {
    width: 200px;
    background-color: #EEE;
    border-right: 1px solid #AAA;
    overflow: auto;
}

#toc > div {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.slide-thumbnail-container {
    box-shadow: 0px 3px 3px #aaa;
    height: 112.5px;
    width: 200px;
    margin-bottom: 25px;
}

.slide-thumbnail-container.selected-slide {
    box-shadow: 0px 6px 6px #44A;
}

.slide-thumbnail {
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0% 0%;
    cursor: pointer;
    float: left;
    height: 100px;
}

.slide-thumbnail-container .slide {
    overflow: hidden;
}
