@import "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/resources/dojo.css";
@import "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/tundra/tundra.css";

html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

#controls, #edit, #preview, #toc {
    padding: 2em;
}

#controls {
    background-color: #CCC;
    box-shadow: 0px 2px 2px #444;
    z-index: 20;

    background-image: -webkit-linear-gradient(top, #DDD, #BBB);
    background-image:    -moz-linear-gradient(top, #DDD, #BBB);
    background-image:     -ms-linear-gradient(top, #DDD, #BBB);
    background-image:      -o-linear-gradient(top, #DDD, #BBB);
    background-image:         linear-gradient(top, #DDD, #BBB); /* standard, but currently unimplemented */
}

#toc {
    width: 200px;
    background-color: #EEE;
    border-right: 1px solid #AAA;
    overflow: auto;
}

#main {
}

#edit textarea {
    min-height: 300px;
    max-height: 300px;
    min-width: 96%;
    max-width: 96%;
    padding: 1em;
    border: 1px dashed #AAA;
    font-size: 200%;
}

.slide-thumbnail {
    font-size: 50%;
    padding: 1em;
    background-color: #FFF;
    box-shadow: 0px 2px 2px #444;
    margin-bottom: 4em;
    cursor: pointer;
}

.selected-slide {
    box-shadow: 0px 6px 6px #44A;
}